body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr 100px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    background-color: rgb(2, 2, 70);
    position: sticky;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    top: 0;
    z-index: 6;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 24px;
}



main {
    display: grid;
    grid-template-rows: 100vh 100vh 200vh 90vh;
    grid-template-areas: 
    "intro"
    "about-me"
    "projects"
    "contact-me";
}

#projects {
    min-height:100%;
}



.about-me-container {
    gap: 50px;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;

}

.about-me-title {
    grid-area: 1 / 1 / 2 / 3;
    padding: 50px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: start;

}


.about-me-description {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 100px 0px 0px 200px;

}



.tools {
    min-height: 100%;
    padding: 100px 0px 0px 150px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, 200px));
    grid-template-areas: 
        "html css"
        "js node"
        "npm tailwind";
    
}

.tools > img {
    width: 100px; 
    height: 100px;
}


hr {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#home {
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;

}

.intro {
    padding: 50px;
}

.intro > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    background-color: rgb(2, 2, 70);
    border-radius: 20px;
    padding: 10px;
}


.self-image {
    border-radius: 90%;
    width: 200px;
    height: 200px;
    
}

#projects {
    min-height: 100%;
}
.projects-title, .contact-me-title {
    text-align: center;
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.project-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 80vh 80vh ;
    padding: 50px 200px 100px 200px;
    gap: 50px;
}

.project-container > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.project-container > div > img {
    width: 80%;
    height: 400px;
}

.project-container > div > .project-headings {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    font-weight: 800;
}

.project-container > div > .project-desc {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

.contact-me-container {
    display: flex;
    justify-content: center;

}

form > div{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 24px;
}

input {
    height: 2rem;
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
}

button {
    height: 3rem;
    width: 7rem;
    border-radius: 10px;
    align-self: center;
    margin: 10px;
}


footer {
    background-color: rgb(2, 2, 70);

}